body {
 font-family: Arial;
 color: azure;
 background-color: rgb(2, 47, 65);
 margin: auto;
}

.content {
 background-color: rgba(0, 0, 0, 0.144);
 width: 600px;
 padding:40px;
 position: absolute;
 left: 25%;
}